@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-text{
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    font-size: 30px;
    font-family: yellowtail;
    font-weight: 800;
    padding: 20px;
}



/* form .form-input,
form .form-textarea {
  display: block;
} */

form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

h1{
  font-family: "Yellowtail", sans-serif;
  font-size: 70px;
  display: inline-block;
}

.neon {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      animation: flicker 1.5s infinite alternate;    
}

/* Flickering animation */
@keyframes flicker {
  
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.x-sign {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family:"yellowtail";
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  /* transform: rotat(90deg); */
}

.drink-sign {
  font-size: 32px;
  /* line-height: calc(20px + 20vh); */
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family:"yellowtail";
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  /* transform: rotat(90deg); */
}

.mock-sign {
  font-size: calc(20px + 10vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 40px #f09, 0 0 60px #f09, 0 0 10px #f09, 0 0 98px #f09;
    color: #fff;
  font-family:"yellowtail";
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  /* transform: rotat(90deg); */
}

.spirit-sign {
  font-size: calc(20px + 10vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family:"yellowtail";
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  /* transform: rotat(90deg); */
}

.beer-sign {
  font-size: calc(20px + 10vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    color: #fff;
  font-family:"yellowtail";
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  /* transform: rotat(90deg); */
}

.title-sign {
  font-size: 36px;
  /* line-height: calc(20px + 20vh); */
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 40px #f09, 0 0 60px #f09, 0 0 10px #f09, 0 0 98px #f09;
    color: #fff;
  font-family:"yellowtail";
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  /* transform: rotat(90deg); */
}

.feature-sign {
  font-size: 48px;
  /* line-height: calc(20px + 20vh); */
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    color: #fff;
  font-family:"yellowtail";
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  /* transform: rotat(90deg); */
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: -1;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  backdrop-filter: blur(8px);
}

.flip-card-front {
  /* background-color: rgba(2, 38,35, 0.8); */
  padding-bottom: 20px;
  padding-top: 10px;
  /* color: black; */
}

.flip-card-back {
  /* background-color: rgba(2, 38,35, 0.8); */
  color: white;
  font-size: 24px;
  transform: rotateY(180deg);
  padding: 20px;
}

.overlay {
 width: 45%;
}

.drinkContainer{
  max-width: 600px;
  width: 100%;
  /* transform: translate(-50%, -50%); */
  display: flex;
  box-shadow: 0px 0px 10px 0 px rgba(0, 0, 0, 0.75);
}

img{
  width: 250px;
  object-fit: cover;
}
