@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-text{
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    font-size: 30px;
    font-family: yellowtail;
    font-weight: 800;
    padding: 20px;
}

.login-bg {
  background-image: url('../assets/su-san-lee-g3PyXO4A0yc-unsplash.jpg');
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url('../assets/su-san-lee-g3PyXO4A0yc-unsplash.jpg');
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* form .form-input,
form .form-textarea {
  display: block;
} */

form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}