.signup-bg {
    background-image: url('../assets/su-san-lee-g3PyXO4A0yc-unsplash.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cont {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-body{
color: white;
border: 2px solid white;
backdrop-filter: blur(3px);
padding: 30px;
text-align: center;
}

.card-head{
    color: white;
    background-color: #01261F;
    font-size: 40px;
    font-family: "yellowtail";
    text-align: center;
}

.the-button{
    color: white;
    background-color:#078C03;
    border: none;
    border-radius: 7px;
    font-size: 24px;
    padding: 5px;
    /* margin-left: 75px; */
}