
h1{
    font-family: "Yellowtail", sans-serif;
    font-size: 70px;
    display: inline-block;
}

.background {
    background-image: url('./images/su-san-lee-g3PyXO4A0yc-unsplash.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.title {
    text-align: center;
}

.neon {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        animation: flicker 1.5s infinite alternate;    
  }

  /* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }